html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 25%;
}
