.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


.center-content {
  text-align: center;
  padding: 120px;
  background-color: #265682;
  border-radius: 20px;
  border: 1px solid #ccc;
}

form {
  display: flex;
  flex-direction: column;
}

form select,
form input,
form button {
  margin: 8px 0;
}


form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}


form input[name="amount"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

form input[name="destinationAccount"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}


form button[name="Bestätigen"] {
  background-color: green;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button[name="Cancel"] {
  background-color: #ff0000;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
